<p id="notice"><%= notice %></p>
<div class="container">
<h1>Places to visit in Snowdonia</h1>
<div class="row">
<% @properties.shuffle.each do |property| %>
  <div class="col s12 m4 ">
    <div class="card medium hoverable">
      <div class="card-image">
        <img src="<%= property.image_urls.split('|||')[0] %>">
        <span class="card-title"><%= property.name %></span>
      </div>
      <div class="card-content">
        <p><%= property.description %></p>
      </div>
      <div class="card-action">
        <div class="left"><%= link_to 'View', property %></div>
        <div class="right"><%= link_to 'Book - £' + property.price_per_night.to_s.split('.')[0] + '/night', property %>
        </div>
      </div>

    </div>
  </div>
<% end %>
</div>
<%= link_to 'Add your home', new_property_path, :class => 'btn primary' %>
