<p id="notice"><%= notice %></p>

<h1>Places to visit in Snowdonia</h1>
<div class="row">
<% @properties.each do |property| %>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="<%= property.image_urls.split('|||')[0] %>">
        <span class="card-title"><%= property.name %></span>
      </div>
      <div class="card-content">
        <p><%= property.description %></p>
      </div>
      <div class="card-action">
        <%= link_to 'View', property %>
      </div>
    </div>
  </div>
<% end %>
</div>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.description %></td>
        <td><%= property.lat %></td>
        <td><%= property.lon %></td>
        <td><%= property.image_urls %></td>
        <td><%= property.price_per_night %></td>
        <td><%= property.terms %></td>
        <td><%= property.user %></td>
        <td><%= property.community %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
