<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Image urls</th>
      <th>Price per night</th>
      <th>Terms</th>
      <th>User</th>
      <th>Community</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.description %></td>
        <td><%= property.lat %></td>
        <td><%= property.lon %></td>
        <td><%= property.image_urls %></td>
        <td><%= property.price_per_night %></td>
        <td><%= property.terms %></td>
        <td><%= property.user %></td>
        <td><%= property.community %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
