<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s12">
      <img class="responsive-img property-img" src="<%= @property.image_urls.split('|||')[0] %>">
    </div>


  <div class="row">

    <div class="col s8">
      <h1>
        <%= @property.name %>
        <small>
          in <%= link_to @property.community.name, @property.community %>
        </small>
      </h1>
      <%= @property.description %>
<!--       <h2>Terms</h2>
      <%= @property.terms %> -->
    </div><!-- end .s8 -->

    <div class="col s4">
      <form action="#">
        <h2>Stay here</h2>

        <input class="datepicker" type="text" name="from" placeholder="From">
        <input class="datepicker" type="text" name="to" placeholder="To">

        <div class="collection">
          <div class="collection-item">
            Price per night 
            <span class="badge"><%= @property.price_per_night %>
          </div>
          <div class="collection-item">
            Length of your stay
            <span id="legth-of-stay" class="badge">1</span>
          </div>
          <div class="collection-item">
            Total
            <span id="total_price" class="badge"><%= @property.price_per_night %></span>
          </div>
        </div>
<a class="waves-effect waves-light btn-large modal-trigger" href="#modal1">Send request</a>
<a class="waves-effect waves-light btn-large modal-trigger-2" href="#modal2">Ask host</a>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>request sent</h4>
      <p>A bunch of text</p>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>askinh host</h4>
      <p>A bunch of text</p>
    </div>
  </div>
        
    </div><!-- end .s4 -->
  </div><!-- .end .row -->
  

</div><!-- end .container -->

<!--
  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
-->
